# Environments & Secrets
.env
.env.local
.env.*.local

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
env/
.venv/

# OS artifacts
Thumbs.db
.DS_Store
